* {
	box-sizing:border-box;
	width: 100%;
	margin:0 auto;
	font-family: 'Open Sans', arial;
}

.hr1 {
	display: block;
	border-top: 1px solid #000;
	width: 500px;
	margin: 40px 90px 15px;
}

.hr2 {
	display: block;
	border-top: 1px solid #000;
	width: auto;
	margin: 40px 0 5px;
}


.area {
	width: auto;
	max-width: 1170px;
	margin: 0 auto;
}

.header__line {
	position: relative;

}


.section {
	margin: 25px 0;
	position: relative;
}

.container {
	width: 100%;
	margin: 0;
}

.header {
	font-size: 18px;
	margin: 0 0px 25px 0;
}


.header__logo {
	position: relative;
	width: 80px;
	height: 35px;
	color: #000000;
	margin: 0;
	left: 100px;

}

.header__logo:hover {
  -webkit-transform: rotateZ(20deg);
  -ms-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}

.header-intro {
	width: 80%;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 140px;
}

.header-intro__link {
	text-decoration: none;
	color: #000000;
	padding: 5px 10px;
	margin: 5px 15px;
	text-transform: uppercase;
}

.header-intro__link:hover {
	cursor: pointer;
	color: blue;
    border-bottom: 3px solid blue;
    width: 100%;
	transition: color 0.5s linear;
}


.header-last__contact {
	color: #fff;
	font-size: 16px;
	background-color: #000000;
	border-radius: 11px;
	margin-left: 50px;
	padding: 5px 20px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.header-last__contact:hover {
	background-color: #fff;
	transition: background-color 0.9s linear;
	color: #000000;
}

.slideshow-container {
  position: relative;
  margin: 0;
}


.slides {
  width: auto;
  display: none;
  position: relative;
 
}

.section-header__title {
  width: auto;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  margin: 50px 90px 0;
}

.section__title-litle {
  
  font-size: 18px;
  padding: 8px 5px;
  margin: 15px 0 5px ;
  position: absolute;
  width: 300px;
  height: 10px;
}


.section__title {
  margin: 10px 0 0;
  padding: 0;
  line-height: 0.8;
}

.section__suptitle {
  margin: 30px 0 25px;
  padding: 0;
  line-height: 0.8;
}

.section__post {
	display: inline-block;
	width: 500px;
	height: 30px;
	
	color: #000000;
	margin: 100px 60px;
 	padding: 35px 15px;
 	
	font-size: 18px;
	line-height: 1.6;

	
}

.image {
	object-fit: cover;
	margin-bottom: -5px;
}

.dots {
	display: block;
}

.dot {
	display: block;
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0;
	background-color: #fff;
	border-radius: 50%;
	transition: background-color 0.3s ease;
}

.dot:hover {
	background-color: #000;
}

.dot_active {
	box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.363);
}


.slideshow-container__dons {
	width: auto;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	right: 150px;
}

.dots__item {
	margin-bottom: 30px;
}

.dots__item:last-child {
	margin-bottom: 0;
}

.btns {
	position: absolute;
	top: 230px;
	margin: 10px 80px 0;
	font-size: 20px;
	text-transform: uppercase;

}

#btns__popap{
	display: none;
	opacity: 0.8;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 16px;
	background-color: rgba(1, 1, 1, 0.725);
	z-index: 100;
	overflow: auto;
}
 
#btns__window{
	width: 350px;
	height: 350px;
	margin: 50px auto;
	display: none;
	background: #fff;
	z-index: 200;
	position: fixed;
	left: 0;
	right: 0;
	top: 30%;
	bottom: 0;
	padding: 16px;
}
 
.btns__close{
	width: 80px;
	height: 50px;
	font-size: 24px;
	color: #fff;
	position: absolute;
	left: 15%;
	bottom: 10%;
	background-color: green;
}

.fa-check:hover {
	cursor: pointer;
	color: blue;
	transition: color 0.3s ease;

}

.btns__donload {
	width: 90px;
	height: 50px;
	
	padding: 10px;
	cursor: pointer;
	font-size: 24px;
	
	position: absolute;
	bottom: 10%;
	left: 60%;
	text-align: center;
	color: #fff;
	background-color: green;
}

.btns__donload:hover {
	cursor: pointer;
	color: blue;
	transition: color 0.3s ease;

}

.fa-check {
	cursor: pointer;
	position: absolute;
	padding: 10px;
	left: 0;
	bottom: 0;
	color: #fff;
	
	margin: 5px;
	text-align: center;
}

.btns__formValue {
	font-size: 18px;
	width: 280px;
	height: 30px;
	margin: 40px 20px 10px ;
	padding: 5px;
	border: 1px solid #000000;
}

.btns__formValue:hover {
	cursor: pointer;
	border:1px solid blue;

	transition: border 0.3s ease;
}

.btns__click{
	width: 200px;
	height: 50px;
	background-color: green;
	color: #fff;
	border: 0;
}

.btns__click:hover {
	color: blue;
	transition: color 0.3s ease;
}


.about {
	max-width: 100%;
	text-align: center;
	margin: 50px 30px;
	padding: 0 20px;
	font-size: 0;
}

.about__item-about {
	display: inline-block;
  	width: 25%;
  	padding: 15px 0;
    text-align: center;
    margin: 0 auto;
}

.about__img {
	width: 130px;
	height: 130px;
	
}

.about__title {
	font-size: 22px;
	font-weight: bold;
	margin: 18px 5px;
	padding: 10px 0;
}

.about__text {
	font-size: 16px;
	line-height: 1.6;
	padding: 0 15px;
}


.sport {
	width: auto;
  	background-color: #f1f0f6;
 	position: relative;
	
	padding: 0 10px;
	margin: 50px 50px;
 
}

.sport__item {
	display: inline-block;
	width: 500px;
	padding: 0 50px;
	vertical-align: top;
	margin: auto;
}

.sport__img {
	width: 480px;
	display: inline-block;
	position: relative;


}

.sport__titles {
	margin: 10px 30px;

}

.sport__title {
	display: inline-block;
	width: 500px;
	height: 10%;
	color: #000000;

	margin: 20px 40px 0;
 	padding: 15px 5px;
  	position: relative;
  
}

.sport__suptitle {
	display: inline-block;
	width: 500px;
	height: 100px;
	color: #000000;
	font-size: 25px;

	margin: 0 40px;
 	padding: 5px 5px;
  	position: relative;
  	top: 0;
	right: 0;
  
}


.sport__btn {
	margin: 30px 60px 0;
	position: absolute;
	padding: 5px 10px;
}

.sport__btn:hover {
	color: blue;
	transition: color 0.3s ease;
}

.special {
	width: auto;
	
}

.special-title {
	width: 500px;
	font-size: 23px;

}


.special__post {
	width: 500px;
	margin: 150px 80px 60px;
	padding: 20px;
	line-height: 1.6;

}

.special__title {
	color: #000;

}

.special__title-one {
	padding: 10px;
}

.special__suptitle-two {
	margin: 0 0;
	padding: 10px;

}

.special__box {
	width: 700px;
	margin: 0 90px;
}

.special__item {
	display: inline-block;
	width: 160px;
	height: 150px;
	padding: 15px 0px;
	margin: 5px 5px;
}

.special__item__title {
	font-size: 22px;
	margin: 5px 5px 10px;
	text-align: center;
}

.special__item__post {
	font-size: 16px;
	margin: 15px 5px;
	text-align: center;
	line-height: 1.4;
}

.special__fon {
	
	width: 400px;
	height: 530px;
	background-color: #49A74E;
	position: absolute;
	top: 0;
	margin-top: 70px;
	margin-left: 700px;

}

.special-fon__title {
	margin: 30px 35px;
	font-size: 20px;
}

.special-fon__title-one {
	
}

.special-fon__suptitle-two {
	margin: 15px 0;
}

.special-fon__post {
	width: 300px;
	margin: 85px 20px; 
	line-height: 1.6;
	color: #fff;
	font-size: 16px;
}

.special__btn {

	background-color: #000000;
	color: #fff;
	margin: 180px 0;
	
}

.special__btn:hover {
	cursor: pointer;
	color: blue;
	transition: color 0.3s ease;
}


.photo {
	width: 80%;
	margin: 10px 90px;
	display: flex;
	justify-content: space-between;
	padding: 10px 40px;
	margin: 0 auto;
}

.photo__one {
	position: relative;
	top: 20%;
	right: 20%;
    width: 45%;
    padding: 10px 10px 0 80px;
  
}

.photo__one img {
	width: 140%;
	height: 100%;
	margin: 0;

}


.photo__two {
	position: relative;
	top: 20%;
	right: 15%;
 	width: 50%;
 	padding: 10px 70px 0 40px;
  
}

.photo__two img {
	width: 140%;
	height: 100%;
	margin: 0 50px;
	padding: 0 13px 0 50px;
}

.photo__title-one {
	position: absolute;
	left: 80px;
	bottom: 8%;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

.photo__title-two {
	position: absolute;
	left: 130px;
	bottom: 8%;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	width: 100px;
}

.last-part {
	width: auto;
	margin: 10px 80px;
}


.last-part__title-one {
	height: 30px;

	margin: 10px 0;
	padding: 10px 0;
	color: #000000;
}

.menu-title__two {
	padding: 10px 0;
	background-color: 
}

.menu {
	width: auto;
	margin: 50px 80px 100px;
	padding-top: 20px;
}

.menu-panel {
	margin-bottom: 5px;
}

.menu-panel__title {
	margin: 10px 0;
	padding: 10px 15px;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	font-size: 20px;
	color: #000000;
	border-radius: 4px;
	cursor: pointer;
}

.menu-panel__post {
	 padding: 18px;
	 line-height: 1.6;
	 border: 1px solid #ddd;
	 border-bottom-left-radius: 4px;
	 border-bottom-right-radius: 4px;
	 display: none;
	 background: #fff;
	 color: #000000;
}

.panel-active {
	  margin-bottom: 0;
	  border-bottom: 0;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	  text-decoration: underline;
}
.active {
  	display: block;
}

.footer {
	width: auto;
	height: 100px;

	text-align: center;
	padding: 40px 0;
	position: relative;
	background-color: #000000;
}

.footer-icon i {
	font-size: 18px;
	display: inline;
	color: #fff;
	text-decoration: none;
	margin: 0 3px;
	padding: 6px;
	border-radius: 11px;
}

.footer-icon i:hover {
	background-color: #000000;
	transition: background-color 0.6s linear;
	color: #fff;
	cursor: pointer;
}

.fa-instagram {
	background-color: #FA8072;
}

.fa-vk {
	background-color: #00008B;
}

.fa-twitch {
	background-color: #9400D3;
}

.fa-telegram {
	background-color: #0000FF;
}

.fa-google {
	background-color: #FF0000;
}

.fa-odnoklassniki {
	background-color: #FF6800;
}
